.myclass{
    color:red;
    display: inline;
    width: 150px;
   }
   .myclass1{
    background-color:black;
    color: white;
    display: inline;
    width: 150px;
   }
   .myclass2{
    color:green;
    display: inline;
    width: 150px;
   }
   .myclass3{
    background-color:darkred;
    color: green;
    display: inline;
    width: 150px;
   }
   .myclass4{
    color:black;
    display: inline;
    width: 150px;
   }