.column{
    background-color:lightblue;
    color:black;
    display: block;
    columns: 50px 2;
  }
  .column1{
    background-color:yellow;
    color:black;
    display: block;
    columns: 50px 2;

  }